<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nexus International | FACS</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- Favicon -->
     <link rel="shortcut icon" href="{% static 'img/logo/favicon.png' %}" type="image/x-icon">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">
            <span class="fa fa-times"></span>
        </div>
        <div class="offcanvas__logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo/Nexus Logo.png' %}" alt="Nexus"></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="#">About</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'about' %}">About us</a></li>
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="{% url 'management' %}">Management</a></li>
                            <li><a href="{% url 'fcrime' %}">Financial Crime</a></li>
                            <li><a href="{% url 'license' %}">License</a></li>
                                
                        </ul>
                    </li>
                    <li><a href="#">Services</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'tf' %}">Trade Finance Solutions</a>
                                <ul class="dropdown-lists">
                                    <li><a href="{% url 'bg' %}">Bank Guarantee</a></li>
                                    <li><a href="{% url 'slc' %}">Standby Letter of Credit</a></li>
                                    <li><a href="{% url 'dlc' %}">Documentary Letter of Credit</a></li>
                                    <li><a href="{% url 'pof' %}">Proof of Funds</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'facs' %}">Financial Advisory and Consulting Services</a></li>
                            <li><a href="{% url 'cfa' %}">Corporate Finance Advisory</a></li>
                        </ul>
                    </li>
                   <li><a href="{% url 'contact' %}">Contact</a></li>                                
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget">
            <li><i class="fa fa-map-marker"></i> Anjouan</li>
            <li><i class="fa fa-phone"></i>+441223790627</li>
            <li><i class="fa fa-envelope"></i> Info@nexus.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header_top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="header_top_widget">
                            <li><i class="fa fa-map-marker"></i> Anjouan</li>
                            <li> <a href="tel:+441223790627"><i class="fa fa-phone"></i>+441223790627</a></li>
                            <li><a href="mailto:Info@nexus.com"><i class="fa fa-envelope"></i> Info@nexus.com </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header_logo">
                        <a href="{% url 'index' %}"><img src="{% static 'img/logo/Nexus Logo.png' %}" alt="Nexus"></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="header_nav">
                        <nav class="header_menu">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="#">About</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'about' %}">About us</a></li>
                                        <li><a href="{% url 'profile' %}">Profile</a></li>
                                        <li><a href="{% url 'management' %}">Management</a></li>
                                        <li><a href="{% url 'fcrime' %}">Financial Crime</a></li>
                                        <li><a href="{% url 'license' %}">License</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="#">Services</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'tf' %}">Trade Finance Solutions</a>
                                            <ul class="dropdown-lists">
                                                <li><a href="{% url 'bg' %}">Bank Guarantee</a></li>
                                                <li><a href="{% url 'slc' %}">Standby Letter of Credit</a></li>
                                                <li><a href="{% url 'dlc' %}">Documentary Letter of Credit</a></li>
                                                <li><a href="{% url 'pof' %}">Proof of Funds</a></li>
                                            </ul>
                                        </li>
                                        <li class="active"><a href="{% url 'facs' %}">Financial Advisory and Consulting Services</a></li>
                                        <li><a href="{% url 'cfa' %}">Corporate Finance Advisory</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </nav>
                         
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

     <!-- toper Section Begin -->
    <div class="breadcrumb-option set-bg mb-5" data-setbg="{% static 'img/breadcrumb/financialadvosory.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 class="toper-text">Financial Advisory and Consulting Services</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index' %}">Home</a>
                            <a href="#">Services</a>
                            <span>Financial Advisory</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- toper Section End -->

     <!-- Content starts -->
      <div class="trade">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-3">
                    <p class="para-text text-center">Our Financial Advisory and Consulting Services are designed to provide comprehensive support across various financial needs, ensuring you make informed decisions and reach your financial goals.</p>
                </div>
                <div class="col-lg-12">
                    <div class="dlc-img"><img src="{% static 'img/stocks/warranty.jpg' %}" alt="Nexus warranty"></div>
                </div>
                
                <div class="col-lg-12 mt-3">
                    <div class="trade-content">
                        <h4 class="title text-center mb-3">Our services</h4>
                        <p class="para-text"><span>Strategic Financial Planning: </span>We work with you to develop a robust financial plan that aligns with your long-term objectives. Our strategic financial planning services include budgeting, forecasting, and scenario analysis to ensure sustainable growth and stability.</p>

                        <p class="para-text"><span>Investment Advisory:</span> Our investment advisory services are tailored to your risk tolerance and financial goals. We provide personalized investment strategies, portfolio management, and ongoing performance monitoring to maximize your returns.</p>

                        <p class="para-text"><span>Risk Management:</span> Identifying and mitigating financial risks is crucial for long-term success. Our risk management services include risk assessment, development of risk mitigation strategies, and ongoing monitoring to safeguard your assets and operations.</p>

                        <p class="para-text"><span>Business Valuation:</span> Accurate valuation is essential for informed decision-making. We provide comprehensive business and asset valuation services, helping you understand the true value of your company or investments.</p>

                        <p class="para-text"><span>Financial Due Diligence:</span> When considering mergers, acquisitions, or investments, thorough due diligence is vital. Our financial due diligence services provide a detailed analysis of financial statements, cash flows, and potential risks to ensure you make sound decisions.</p>

                        <p class="para-text"><span>Performance Improvement:</span> We help businesses enhance their operational efficiency and financial performance. Our performance improvement services include cost optimization, process reengineering, and financial benchmarking.</p>

                        <p class="para-text"><span>Corporate Governance:</span> Strong corporate governance practices are essential for building trust and maintaining compliance. We offer advisory services on corporate governance frameworks, board practices, and regulatory compliance to ensure your organization operates with integrity and accountability.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>

     <!-- Content ends -->
     
    <!-- Contact Begin -->
    <div class="contact-widget set-bg" data-setbg="{% static 'img/stocks/footer1.jpg' %}" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                                <h4>Anjouan</h4>
                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__widget__phone">
                        <span>Contact Us Now!</span>
                          <a href="tel:++441223790627"><h2>+441223790627</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="{% url 'index' %}"><img src="{% static 'img/logo/Nexus Logo01.png' %}" alt="Nexus"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Services</h5>
                        <div class="footer__widget">
                             <ul>
                                <li><a href="{% url 'tf' %}">Trade Finance Solutions </a></li>
                                <li><a href="{% url 'facs' %}">Financial Advisory & Consulting services</a></li>
                                <li><a href="{% url 'cfa' %}"> Corporate Finance Advisory</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget footer__widget--address">
                        <h5>Open Hours</h5>
                        <p>We work all days a week, Please contact us for any inquiry.</p>
                        <ul>
                            <li>Monday - Friday: 11:00 am - 8:00 pm</li>
                            <li>Saturday: 10:00 am - 6:00 pm</li>
                            <li>Sunday: 11:00 am - 6:00 pm</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul class="footer__copyright__links">
                            <li><a href="{% static 'img/services/Privacypolicynexus.pdf' %}" target="_blank">Privacy Policy</a></li>
                            <li><a href="{% static 'img/services/Terms&conditionsnexus.pdf' %}" target="_blank">Terms & Condition</a></li> 
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    
    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.j' %}s"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>