<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nexus International | Management</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- Favicon -->
     <link rel="shortcut icon" href="{% static 'img/logo/favicon.png' %}" type="image/x-icon">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">
            <span class="fa fa-times"></span>
        </div>  
        <div class="offcanvas__logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo/Nexus Logo.png' %}" alt="Nexus"></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="#">About</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'about' %}">About us</a></li>
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="{% url 'management' %}">Management</a></li>
                            <li><a href="{% url 'fcrime' %}">Financial Crime</a></li>
                            <li><a href="{% url 'license' %}">License</a></li>
                                
                        </ul>
                    </li>
                    <li><a href="#">Services</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'tf' %}">Trade Finance Solutions</a>
                                <ul class="dropdown-lists">
                                    <li><a href="{% url 'bg' %}">Bank Guarantee</a></li>
                                    <li><a href="{% url 'slc' %}">Standby Letter of Credit</a></li>
                                    <li><a href="{% url 'dlc' %}">Documentary Letter of Credit</a></li>
                                    <li><a href="{% url 'pof' %}">Proof of Funds</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'facs' %}">Financial Advisory and Consulting Services</a></li>
                            <li><a href="{% url 'cfa' %}">Corporate Finance Advisory</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="{% url 'contact' %}">Contact</a></li>                                
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget">
            <li><i class="fa fa-map-marker"></i> Anjouan</li>
            <li><i class="fa fa-phone"></i>+441223790627</li>
            <li><i class="fa fa-envelope"></i> Info@nexus.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header_top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="header_top_widget">
                            <li><i class="fa fa-map-marker"></i> Anjouan</li>
                            <li> <a href="tel:+441223790627"><i class="fa fa-phone"></i>+441223790627</a></li>
                            <li><a href="mailto:Info@nexus.com"><i class="fa fa-envelope"></i> Info@nexus.com </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header_logo">
                        <a href="{% url 'index' %}"><img src="{% static 'img/logo/Nexus Logo.png' %}" alt="Nexus"></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="header_nav">
                        <nav class="header_menu">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li class="active"><a href="#">About Us</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'profile' %}">Profile</a></li>
                                        <li class="active"><a href="{% url 'management' %}">Management</a></li>
                                        <li><a href="{% url 'fcrime' %}">Financial Crime</a></li>
                                        <li><a href="{% url 'license' %}">License</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Services</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'tf' %}">Trade Finance Solutions</a>
                                            <ul class="dropdown-lists">
                                                <li><a href="{% url 'bg' %}">Bank Guarantee</a></li>
                                                <li><a href="{% url 'slc' %}">Standby Letter of Credit</a></li>
                                                <li><a href="{% url 'dlc' %}">Documentary Letter of Credit</a></li>
                                                <li><a href="{% url 'pof' %}">Proof of Funds</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'facs' %}">Financial Advisory and Consulting Services</a></li>
                                        <li><a href="{% url 'cfa' %}">Corporate Finance Advisory</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
     <!-- toper Section Begin -->
    <div class="breadcrumb-option set-bg mb-5" data-setbg="{% static 'img/breadcrumb/teambanner1.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 class="toper-text">Management</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index' %}">Home</a>
                            <a href="{% url 'about' %}">About Us</a>
                            <span>Management</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- toper Section End -->
    <!-- Content starts -->
    <div class="container mb-5 people">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 image-box">
                <div class="team-image">
                    <img src="{% static 'img/team/sanjay-new.png' %}" alt="Dr.Sanjay Thakrar">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="outer">
                    <div class="overlay mb-5">
                        <p class="mt-3 name">Dr.Sanjay Thakrar </p>
                        <p class="designation">Chairman & Founder<a href="https://www.linkedin.com/in/dr-sanjay-thakrar-717689b6?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BV7%2FunKf1RkaIrLmEvDEHdQ%3D%3D" target="_blank" class="linkedicon"><i class="fa fa-linkedin fa-xl"></i></a></p>
                    </div>
                    <div class="overlay-mobile">
                        <p>Dr.Sanjay Thakrar <br> <span class="designation">Chairman & Founder<span></p>
                    </div>
                   
                    <div class="team-content">
                        <p class="team-text">Dr. Sanjay Thakrar is the Founder of Euro Exim Bank,a challenger bank in Trade Finance, Headquartered in St. Lucia, with a Representative Office in London<br>
                            The Bank has grown its network of International agents and partners to span over 180 Countries, supported by an independent back-office service provider in India, providing sales onboarding, local compliance, legal and IT support.<br>
                            Dr. Sanjay Thakrar is a holder of Bachelor of Science qualification and a Masters’ Degree, with an extensive financial background, working in invoice discounting, immersed in the entire life cycle of imports and exports from inception to settlement, through freight forwarding, insurance, importers, transporters and shipping<br>
                            With experience of running his own business enterprises, he has a unique perspective of both technical and business requirements, and keen, not only on growth in revenue and market share but participation and contribution to strong CSR programs, especially in emerging markets.<br>
                            Dr. Sanjay Thakrar is a leading knowledge source on the creation and issuance of Trade Finance instruments, such Letter of Credits, Bank Guarantees, Standby Letters of Credit and Bonds.<br>
                            Dr. Sanjay Thakrar is also well versed in SWIFT systems and operations and was a major contributor to the technology and specification of EEB’s advanced in-house SimpleX Trade Finance Platform.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
    <!-- Content Ends -->


    <!-- Contact Begin -->
    <div class="contact-widget set-bg" data-setbg="{% static 'img/stocks/footer1.jpg' %}" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                                <h4>Anjouan</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__widget__phone">
                        <span>Contact Us Now!</span>
                          <a href="tel:++441223790627"><h2>+441223790627</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="{% url 'index' %}"><img src="{% static 'img/logo/Nexus Logo01.png' %}" alt="Nexus"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Services</h5>
                        <div class="footer__widget">
                             <ul>
                                <li><a href="{% url 'tf' %}">Trade Finance Solutions </a></li>
                                <li><a href="{% url 'facs' %}">Financial Advisory & Consulting services</a></li>
                                <li><a href="{% url 'cfa' %}"> Corporate Finance Advisory</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget footer__widget--address">
                        <h5>Open Hours</h5>
                        <p>We work all days a week, Please contact us for any inquiry.</p>
                        <ul>
                            <li>Monday - Friday: 11:00 am - 8:00 pm</li>
                            <li>Saturday: 10:00 am - 6:00 pm</li>
                            <li>Sunday: 11:00 am - 6:00 pm</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul class="footer__copyright__links">
                            <li><a href="{% static 'img/services/Privacypolicynexus.pdf' %}" target="_blank">Privacy Policy</a></li>
                            <li><a href="{% static 'img/services/Terms&conditionsnexus.pdf' %}" target="_blank">Terms & Condition</a></li> 
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.j' %}s"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>